@media (max-width: 440px){
    body h1{
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 42px;
        text-align: center;
        letter-spacing: -0.004em;
        color: #75B79E;  
    }
    main{
        flex-direction: column;
    }
    .gamerules,
    .popUp-container{
        border-radius: 20px;
        width: 90%;
        background-color: #fffcf3;
        box-shadow: 0 0 5px 2px rgb(194, 194, 194);
      }
    .rules h3,
    .curiosidades h3{
        margin-top: 8px;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        letter-spacing: -0.004em;
        color: #75B79E;
    }
}