@media (max-width: 400px){
    body h1{
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 42px;
        text-align: center;
        letter-spacing: -0.004em;
        color: #75B79E;  
    }
    main{
        flex-direction: column;
    }
}