/*Fonte*/
@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:wght@100;300;400;500;700&display=swap');
/*Page set*/
body{
    background-color: #eef9bf;
    opacity: 0.9; /*Mudar sua opacity*/
}
.topbar{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 10px 8px 10px; 
}
main{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: relative;
}
main > div{
  display: flex;
}
/*Timer*/
.timer-container{
  border-radius: 10px;
  right: 1%;
  top: 1%;
  position: absolute;
  width: 100px;
  height: 35px;
  background-color: white;
  display: flex;
  align-items: center;
}
.timer-container h1{
  margin: 0 auto;
  font-size: 35px;
}

/*Textos*/
body h1, h2{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 66px;
    letter-spacing: -0.004em;
    color: #75B79E;
    text-align: center;
}
body h2{
  font-size: 30px;
}


/*Cartas*/
.card {
  margin: 34px;
  width: 117px;
  height: 146px;
  position: relative;
  display: flex;
}
.face {
  width: 100%;
  height: 100%;
  background-color: #A7E9AF;
  border: 1px solid #99cea8;
  border-radius: 5px;
  box-shadow: 1px 1px 1px rgba(0,0,0,.3);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  backface-visibility: hidden;
  transition: all .5s;
  transform-style: preserve-3d;
}
img {
  width: 100px;
  height: 100px;
}
/*Javascript class*/
.show{
    display: flex;
}


/*Efeito das Cartas*/
.back-face {
  transform: rotateY(180deg);
}
.front-face {
    transform: rotateY(0deg);
}
/*Efeito das Cartas com interação as Funções do JS*/
.toTurn .back-face{
  transform: rotateY(0deg);
}
.toTurn .front-face{
  transform: rotateY(-180deg);
}
.turned .back-face{
  transform: rotateY(0deg);
}
.turned .front-face{
  transform: rotateY(-180deg);
}

/*Extras - Fora do Projeto!*/
.endgame{
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
}
.popUp-container{
  border-radius: 20px;
  width: 400px;
  height: 350px;
  background-color: #fffcf3;
  box-shadow: 0 0 5px 2px rgb(194, 194, 194);
}

.popUp-topbar{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.trophy{
  width: 200px;
  height: 150px;
}
.popUp-topbar h2{
  position: absolute;
  top: 110px;
}
.curiosidades{
  margin: 20px 20px;
}
.curiosidades img{
  width: 40px;
  height: 40px;
}
.howmanyplays,
.timeplay{
  display: flex;
  align-items: center;
}
.curiosidades h3{
  margin-top: 8px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: -0.004em;
  color: #75B79E;
}

/*Botoes*/
.buttons{
  display: flex;
  margin: 0 auto;
  justify-content: space-evenly;
}
.buttons h3{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  color: #fffcf3;
}
.playAgain,
.closeWindown{
  box-shadow: 0 0 5px 2px rgb(194, 194, 194);
  background-color: #41a07b;
  border-radius: 100px;
  width: 160px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/*Hovers - Somente em ONCLICK*/
.click:hover{
  cursor: pointer;
  opacity: 0.7;
}